
.popup-modal {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20000;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center; 
    overflow: none;
}

.modal-body {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px, 10px, black;
    box-shadow: 0 0 1em #888;
    width: 600px;
    
}
.modal-content {

    height: 300px;
}

.modal-header {

    height: 60px;
}

.modal-footer {

    height: 60px;
}

.modal-show {
    visibility: visible;
}

.effect.popup-modal,
.effect .modal-body {
    opacity: 0;
}

.effect .modal-body {
    transform: translateY(-5%);
}

.effect .modal-body,
.effect.popup-modal {
    transition: all 0.3s;
}

.modal-show.effect.popup-modal,
.modal-show.effect .modal-body{
    opacity: 1;
}

.modal-show.effect .modal-body{
    transform: translateY(0);
}
/*
.modal-show.effect .modal-body,
.modal-show.effect.popup-modal {
    opacity: 1;
    animation: fadeIn 0.3s;
}

.effect .modal-body {
    
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
*/

