
.popup-modal {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, .3);
    position: absolute;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: 1s
}

.modal-body {
    background-color: white;
    border-radius: 4px;
    box-shadow: 10px, 10px, black;
    box-shadow: 0 0 1em #888;
    
}
.modal-content {
    width: 600px;
    height: 300px;
}

.modal-header {
    width: 600px;
    height: 60px;
}

.modal-footer {
    width: 600px;
    height: 60px;
}