
@media only screen and (max-width: 1080px) {
    .dim {
        width: 100%;
        padding: 0;
    }
    
    .date-container {
        background-color: #FFFFFF;
        text-align: center;
        box-shadow: none;
    }
    
    nav img {
        transform: scale(.7);
    }
}

/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    .dim {
        width: 100%;
        padding: 0;
    }
    
    .log-form {
        width: 700px;
    }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    
    .log-form {
        width: 95%;
    }
}

@media only screen and (max-width: 600px) {
    
    #day-container {
        font-size: 14px;
        font-weight:;
    }
    
    #day-container span: first-of-type {
        margin-top: 0px;   
    }
    
    #day-container.span-1-of-3 {
        /*become span-1-of-5*/
        width: 18.72%;
    }
    
    .day-row {
        height: 65px;
    }
    
    #time-container.span-2-of-3 {
        /*become span-4-of-5*/
        width: 79.68%;  
    }
    
    #day-container .vl {
        display: none;
    }
    
    #day-container span:first-of-type {
        display: block;
        clear: left;
        line-height: normal;
        width: 100%;
        margin-top: 15px;
    }
    
    #day-container span:last-of-type {
        margin-left: 0;
        clear: left;
        line-height: normal;
        width: 100%;
    }
    
    h2 {
        margin: 0;
    }
    
    .hour-log {
        margin: 20px 0;
    }
    
    .to span {
        display: none;
    }
    
    .to:after {
        content: '-';
    }
    
    .modal-body {
        width: 95%;
    }
    
    hr {
        width: 80%;
    }
    
}

@media only screen and (max-width: 500px) {
    
    html {
        font-size: 16px;
    }
    
    #day-container.span-1-of-3 {
        /*become span-1-of-6*/
        width: 15.33%;
    }
    
    #time-container.span-2-of-3 {
        /*become span-5-of-6*/
        width: 83.06%; 
    }
    
    .input {
        width: 55px;
        padding: 0px 4px;
    }
    
    .switch {
        transform: scale(.8);
    }
    
    .toggle {
        margin-left: 0;
    }
    
    #left-button img,
    #right-button img {
        width: 25px;
        height: 25px;
    }
    
    /*Modal Popup*/
    #close-btn img, 
    #back-btn img {
        width: 20px;
        height: 20px;
    }
    
    .modal-close,
    .modal-back {
        margin-top: 15px;    
    }
    
    #close-btn, 
    #back-btn {
        width: 15%; 
    }
    
    #modal-title {
        height: 100%;
        margin: 0;
    }
    
    .modal-header{
        height: 50px;
    }
    
    #header-name {
        font-size: 22px;
    }
    
    .name {
        height: 30px;
        font-size: 22px;
    }
}

@media only screen and (max-width: 350px) {
    
    .switch-item span {
        line-height: 50px;
    }
    
    .date-container {
        height: 50px;
    }
    
    .sticky-header {
        position: fixed;
        top: 2px;
        width: 100%;
        box-shadow: 0 1px 5px rgba(182, 182, 182, 0.75) !important; 
        z-index: 10000;
    }

    .sticky-header + #timeSheet {
        padding-top: 50px;
    }
    
    .sticky-nav {
        position: fixed;
        top: -50px;
        width: 100%;
        z-index: 10000;
    }

    .sticky-nav + .dim {
        padding-top: 50px;
    }
    
    nav {
        height: 50px;
    }
    
    nav img {
        content:url('resources/images/AGA-small-logo.jpg');
        transform: scale(1);
    }
}